.card {
    display: flex;
    justify-content: center;
}
.card-img {
    width: 300px;
}
.card-info {
    margin-right: 50px;
    color: rgb(8, 8, 8);  
    font-weight: 600;  
    background-color: rgb(248, 240, 240);
}