
.countries {
    margin: 20px;
    justify-content: center;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.country {
    text-align: center;
    color: rgb(7, 7, 7);
    padding-bottom: 20px;
    text-shadow: 3px 5px 6px rgba(209, 230, 236, 0.5);
}

.country-name {
    padding-bottom: 20px;
}