.input {
    font-size: 20px;
    border-radius: 5px;
    color: azure;
    font-weight: 600;
    background-color: rgba(209, 230, 236, 0.3);
    height: 50px;
    width: 300px;
    text-align: center;  
}